<nav class="menu visible-xs" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="/">RubyIndia</a></h1>
    <i class="icon-remove menu-close"></i>
    <a href="#home" class="smoothScroll">Home</a>
    <a href="#podcast" class="smoothScroll">Podcast</a>
    <a href="#about" class="smoothScroll">About</a>
    <a href="#about" class="smoothScroll">Subscribe</a>
    <a href="#contact" class="smoothScroll">Contact / Contribute</a>
    <a href="http://us3.campaign-archive2.com/home/?u=872964bc728644fc223acdbdd&id=45fa620ae0">Archives</a>
    <!--<a href="#"><i class="icon-facebook"></i></a>-->
    <a href="https://twitter.com/RubyIndiaOrg"><i class="icon-twitter"></i></a>
    <a href="mailto:contact@rubyindia.org"><i class="icon-envelope"></i></a>
  </div>

  <div id="menuToggle"><i class="icon-reorder"></i></div>
</nav>

<section id="home"></section>
<div id="headerwrap">
  <div class="top-bar">
    <div class="logo pull-left col-lg-offset-1 ">
      <%= image_tag 'http://rubyconfindia.org/images/logo-2b47974f.svg' %>
    </div>
    <div class="pull-left">
      <h1>RubyIndia</h1>
    </div>
    <div class="col-lg-8 hidden-xs main-menu">
      <a href="#home" class="smoothScroll">Home</a>
      <a href="#podcast" class="smoothScroll">Podcast</a>
      <a href="#about" class="smoothScroll">About</a>
      <a href="#about" class="smoothScroll">Subscribe</a>
      <a href="#contact" class="smoothScroll">Contact / Contribute</a>
      <a href="http://us3.campaign-archive2.com/home/?u=872964bc728644fc223acdbdd&amp;id=45fa620ae0">Archives</a>
      <a href="https://twitter.com/RubyIndiaOrg" class="icon"><i class="icon-twitter"></i></a>
      <a href="mailto:contact@rubyindia.org"class="icon"><i class="icon-envelope"></i></a>
    </div>
  </div>
  <div class="tagline hidden-xs">
    Bringing the best from the Indian Community.
  </div>

  <div class="container">

    <div class="row">
    </div>
  </div>
</div>

<section id="podcast"></section>
<div class="f">
  <div class="container">
    <div class="row">
      <h3>Podcast</h3>

      <p class="centered">
        <i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <div class="centered">
        <p> RubyIndia Podcast series meets people and speaks about
          their work, programming tools , work culture, technology stack
          and experiences. </p>

        <p> Checkout all the latest <a href="http://podcast.rubyindia.org">episodes</a>.</p>

        <p> If you would like us to interview someone, open an issue on
          <a href="https://github.com/vipulnsward/rubyindia-podcast">RubyIndia Pocast</a>.</p>
      </div>
    </div>
  </div>
</div>

<section id="about"></section>
<div class="f">
  <div class="container">
    <div class="row">
      <h3>About</h3>

      <p class="centered">
        <i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <div class="centered">
        <p> RubyIndia brings curated content from and for the Indian Ruby Community and friends.</p>

        <p> It aims to be a crowd sourced content aggregation of Articles, Blogs, Projects, Products, Highlights, News,
          and all things interesting, from the community.</p>
        <br/>
        <br/>
        <br/>

        <%= content_for :page_specific_css do %>
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
          <style type="text/css">
              #mc_embed_signup {
                  background: #fff;
                  clear: left;
                  font: 14px Helvetica, Arial, sans-serif;
              }

              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
        <% end %>

        <div id="mc_embed_signup" class="col-lg-6 col-lg-offset-3">
          <form action="http://rubyindia.us3.list-manage1.com/subscribe/post?u=872964bc728644fc223acdbdd&amp;id=45fa620ae0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label for="mce-EMAIL">Subscribe to the newsletter.</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_872964bc728644fc223acdbdd_45fa620ae0" value=""></div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>

<section id="contact"></section>
<div class="f">
  <div class="container">
    <div class="row">
      <h3>Contact</h3>

      <p class="centered">
        <i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i>
      </p>

      <%= render 'send_us_content' %>

      <div class="col-lg-6 col-lg-offset-3">
        <p> You can contribute and report issues to RubyIndia on <a href="https://github.com/vipulnsward/rubyindia-web"><i class="icon-github icon-large-github"></i></a> </p>
      </div>
      <div class="col-lg-6 col-lg-offset-3">
        <p> <br/>Curated by
          <%= link_to 'Vipul A M', 'http://vipulnsward.com'%>,
          <%= link_to 'Prathamesh Sonpatki', 'http://cha1tanya.com/'%>
           and the classy folks from
          <%= link_to 'Pune.rb', 'http://www.punerb.org/'%></p>
      </div>
    </div>
  </div>
</div>
